:root {
    --fullwidth: 100%;
    --primarycolor: #1a1a1d;
    --secondarycolor: #4e4e50;
    --textcolor: #fff;
    --thirdcolor: #c3073f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    background: var(--primarycolor);
    color: var(--textcolor);
    font-family: sans-serif;
    font-size: 1.8rem;
    padding: 3rem;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

a {
    color: var(--textcolor);
    text-decoration: none;
}

.ondertext {
    color: rgba(255, 255, 255, 0.548);
    font-size: 1.2rem;
}

.content {
    grid-area: content;
    margin-top: 2rem;
}

.content--button__actions__primary {
    background: #950740;
    border: 1px solid #950740;
    border-radius: 15px;
    box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 0.08em;
    line-height: 1.25;
    margin-bottom: 2rem;
    overflow: hidden;
    padding: 1.6rem 4.2rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.6s ease;
}

.content--button__actions__primary:after {
    background: rgba(white, 0.1);
    border-radius: 100%;
    height: 0;
    transform: translate3d(-50%, -50%, 0);
    transform-style: flat;
    transition: width 0.3s ease, height 0.3s ease;
    width: 0;
}

.content--button__actions__primary :focus,
.content--button__actions__primary :hover {
    background: darken(#4e4e50, 7%);
    cursor: pointer;
}

.content--button__actions__primary :active,
.content--button__actions__primary :after {
    height: 200px;
    width: 200px;
}

.tijdInstellingen__actions {
    display: grid;
    margin-top: 3rem;
    text-align: center;
}

.tijdinstellingen__buzzer__text {
    margin-top: 1rem;
}

.content--button__actions__ghost {
    border: 1px solid #fff;
    border-radius: 12px;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    outline: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

.content--button__actions__ghost:hover,
.content--button__actions__ghost:active {
    background-color: var(--textcolor);
    color: #000;
}

.content--hyperlink__button {
    color: var(--thirdcolor);
    text-decoration: underline;
}

.content--hyperlink__button:hover {
    color: #fff;
    cursor: pointer;
}

.content--tijdInstellingen {
    margin-top: 5rem;
}

.content--tijdInstellingen__form {
    margin-top: 4rem;
}

.content--tijdInstellingen_naarBed__input,
.content--tijdInstellingen_uitBed__input {
    font-size: 150%;
    width: 10em;
}

select {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--primarycolor);
    background-image: none;
    border: 0 !important;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    flex: 1;
    outline: 0;
    padding: 0 0.5em;
}

.content--tijdInstellingen__form__section__select {
    background: var(--secondarycolor);
    border-radius: 0.25em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    width: 20em;
}

.form,
.taken__form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.form__group {
    margin-top: 10px;
    padding: 15px 0 0;
    position: relative;
    width: 50%;
}

.form__field,
.taken__form__field {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #4e4e50;
    color: var(--textcolor);
    font-family: inherit;
    font-size: 1.3rem;
    margin: 1rem 0;
    outline: 0;
    padding: 0.5rem 0;
    transition: border-color 0.2s;
    width: 100%;
}

.form__field::placeholder,
.taken__form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    cursor: text;
    font-size: 1.4rem;
}

.form__label,
.taken__form_label {
    color: var(--textcolor);
    font-size: 1.6rem;
    transition: 0.2s;
}

.form__field:focus,
.taken__form__field:focus {
    border-image: linear-gradient(to right, #c3073f, #950740);
    border-image-slice: 1;
    border-width: 3px;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.timer__header {
    display: flex;
    justify-content: center;
}

.timer__timeSection {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.timer__buttonsSection {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    width: 100%;
}

.timer__button {
    font-size: 1.4rem !important;
    margin-bottom: 0 !important;
    padding: 1.6rem 0 !important;
}

.timer__form-alert {
    color: red;
    margin-bottom: 1rem;
    text-align: center;
}

.form__field:required,
.form__field:invalid,
.taken__form__field:required,
.taken__form__field:invalid {
    box-shadow: none;
}

.list {
    list-style: none;
}

.list__item {
    display: grid;
    grid-auto-rows: minmax(10px, auto);
    grid-template-areas: "naam naam naam play" "artiest genre genre play";
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1rem;
}

.list__item > p:nth-child(1) {
    font-size: 1.6rem;
    grid-area: naam;
}

.list__item > p:nth-child(2) {
    color: rgba(255, 255, 255, 0.548);
    font-size: 1.2rem;
    grid-area: artiest;
}

.list__item > p:nth-child(3) {
    color: rgba(255, 255, 255, 0.548);
    font-size: 1.2rem;
    grid-area: genre;
    text-align: right;
}

.list__item > a {
    font-size: 1.6rem;
    grid-area: play;
    margin-left: 2rem;
}

.list__item--button__play {
    background-color: transparent;
    border: none;
    color: var(--textcolor);
    float: right;
    grid-area: play;
    margin: 0 auto;
}

.menu {
    min-height: 10%;
    width: 100%;
}

.menu--button__action {
    background-color: transparent;
    border: 1px solid var(--thirdcolor);
    border-radius: 2rem;
    color: var(--thirdcolor);
    height: 3rem;
    width: 12rem;
}

.menu--button__action:hover {
    cursor: pointer;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.menu__list__item {
    align-items: center;
    background-color: #c3073f;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    height: 9rem;
    justify-content: center;
    margin: 1rem 1.4rem;
    width: 9rem;
}

.menu__list__item > a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.menu__list__item > a > i {
    margin-bottom: 0.2em;
}

audio {
    color: var(--textcolor);
    height: 3rem;
    width: 100%;
}

.muziekSpeler {
    display: flex;
    flex-direction: column;
    grid-area: player;
    margin-bottom: 5rem;
    margin-top: 5rem;
    width: 100%;
}

.muziekSpeler--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.muziekSpeler--info__text {
    width: 75%;
}

.muziekSpeler--timeline {
    -webkit-border-radius: 1.5rem;
    background: rgba(255, 255, 255, 0.849);
    border-radius: 1.5rem;
    height: 2px;
    margin-top: 2rem;
    width: 100%;
}

.muziekSpeler--play__Button {
    color: var(--textcolor);
    cursor: pointer;
    margin-top: 12px;
}

.muziekSpeler--timeline__playhead {
    -webkit-border-radius: 50%;
    background: var(--secondarycolor);
    border-radius: 50%;
    cursor: pointer;
    height: 1rem;
    margin-top: -4px;
    width: 1rem;
}

.swal-modal {
    background-color: var(--secondarycolor);
    border: 3px solid var(--primarycolor);
    border-radius: 2.5rem;
}

.swal-icon--success::before {
    background-color: var(--secondarycolor);
    top: -0.8rem;
}

.swal-icon--success::after {
    background-color: var(--secondarycolor);
    top: -1rem;
}

.swal-icon--success__hide-corners {
    background-color: var(--secondarycolor);
    border: none;
}

.section__select {
    background: var(--secondarycolor);
    border-radius: 0.25em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    padding-left: 1rem;
    width: 100%;
}

.button__actions__ghost--tijdInstellingen {
    text-transform: uppercase;
    width: 100%;
}

.taken__add__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taken__form {
    margin: 0 auto;
}

.taken__form__alert {
    background-color: red;
    padding: 1rem;
}

.tijdInstellingen__naarBed__input,
.tijdInstellingen__uitBed__input {
    font-size: 150%;
}

.tijdInstellingen__naarBed,
.tijdInstellingen__uitBed,
.tijdInstellingen__buzzer,
.tijdInstellingen__meldingen,
.tijdInstellingen__form__section,
.tijdinstellingen__meldingen,
.content--tijdInstellingen__section,
.content--tijdInstellingen__buzzer,
.tijdinstellingen__form__section,
.grafiek {
    margin-top: 3rem;
}

select::-ms-expand,
.hidden {
    display: none;
}

.content--tijdInstellingen__form__section__select::after,
.section__select::after {
    -o-transition: 0.25s all ease;
    -webkit-transition: 0.25s all ease;
    background: var(--secondarycolor);
    content: "\25BC";
    cursor: pointer;
    padding: 0 1em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.25s all ease;
}

.content--tijdInstellingen__form__section__select:hover::after,
.section__select:hover::after {
    color: #f39c12;
}

.timer,
.tijdInstellingen__naarBed__text,
.tijdInstellingen__uitBed__text {
    margin-top: 2rem;
}

.timer__label,
.timer__form-field,
.taken__add__header {
    text-align: center;
}

.swal-title,
.swal-text {
    color: var(--textcolor);
}

@media (min-width: 500px) {
    .button__actions__primary--tijdInstellingen {
        width: 100% !important;
    }

    .content--button__actions__primary {
        cursor: pointer;
        width: fit-content;
        width: fit-content;
    }

    .grid {
        display: grid;
        grid-gap: 2rem;
        grid-template-areas: "menu content content " "menu content content" "player player player";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .form__field {
        width: 30%;
    }

    .tijdinstellingen__uitBed {
        margin-top: 3rem;
    }

    .list__item {
        grid-auto-rows: minmax(10px, auto);
        grid-template-areas: "nummer artiest genre play";
        grid-template-columns: repeat(4, 1fr);
    }

    .list__item:nth-child(1) {
        display: grid;
        grid-auto-rows: minmax(10px, auto);
        grid-template-areas: "nummer artiest genre play";
        grid-template-columns: repeat(4, 1fr);
        margin-top: 1rem;
    }

    .list__item > p:nth-child(1) {
        color: var(--textcolor);
        font-size: 1.6rem;
        grid-area: nummer;
    }

    .list__item > p:nth-child(2) {
        color: var(--textcolor);
        font-size: 1.6rem;
        grid-area: artiest;
        margin-left: 0.5rem;
    }

    .list__item > p:nth-child(3) {
        color: var(--textcolor);
        font-size: 1.6rem;
        grid-area: genre;
        margin-left: 0.8rem;
        text-align: left;
    }

    .menu {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        grid-column-end: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-row-start: 2;
        min-width: 40rem;
    }

    .muziek .muziekSpeler--info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .muziekSpeler--buttons {
        display: flex;
        justify-content: center;
    }

    .muziekSpeler--buttons > i {
        margin: 0 1rem;
    }

    .timer {
        margin-left: -15rem;
        margin-top: 5rem;
    }

    .timer__form {
        align-items: center;
    }

    .timer__form-field {
        font-size: 1.8rem;
        text-align: center;
        width: 50%;
    }

    .timer__form-submitBtn {
        margin-bottom: 2rem;
        width: 50%;
        width: 50%;
    }

    .timer__buttonsSection {
        width: 50%;
    }

    .timer__button {
        font-size: 1.2rem !important;
        margin-bottom: 0;
        padding: 1.6rem 1.2rem;
        width: 100% !important;
    }
}

.takenlijst {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.takenlijst__lijn {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 0.25rem solid var(--textcolor);
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.takenlijst__taak {
    margin-bottom: 3rem;
}

.taak__header__title {
    margin-left: calc(25px + 1rem);
    max-width: calc(100vw - 7rem - 25px);
}

.taak__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media (min-width: 425px) {
    .taak__buttons {
        display: block;
    }
}

@media (min-width: 700px) {
    .takenlijst__taak {
        max-width: 80vw;
        min-width: 50rem;
    }
}

@media (min-width: 768px) {
    .takenlijst__taak {
        max-width: 65vw;
    }
}

@media (min-width: 900px) {
    .takenlijst__taak {
        max-width: 50vw;
    }
}

@media (min-width: 1100px) {
    .takenlijst__taak {
        max-width: 50vw;
        min-width: 50vw;
    }
}

.taak__body {
    margin-top: 1rem;
}

.taak__alert {
    animation: taakAlert 5s;
    animation-fill-mode: forwards;
    border: 0.2rem solid #950740;
    margin-bottom: 2rem;
    max-width: 50rem;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

@keyframes taakAlert {
    100% {
        border: none;
        display: none;
        height: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
    }

    0%,
    99% {
        border: 0.2rem solid #950740;
        height: initial;
        margin-bottom: 2rem;
        opacity: 0;
        padding: 2rem;
    }

    10%,
    89% {
        border: 0.2rem solid #950740;
        height: initial;
        margin-bottom: 2rem;
        opacity: 1;
        padding: 2rem;
    }
}

.takenlijst--button--first {
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.takenlijst--button--second {
    background: transparent;
    border: 0.2rem solid #950740;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
}

.takenlijst__checkbox {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-size: 22px;
    margin-bottom: 12px;
    padding-left: 35px;
    position: absolute;
    user-select: none;
}

.takenlijst__checkbox input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.u--checkmark {
    background-color: #eee;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}

.takenlijst__checkbox:hover input ~ .u--checkmark {
    background-color: #ccc;
}

.takenlijst__checkbox input:checked ~ .u--checkmark {
    background-color: green;
}

.u--checkmark:after {
    content: "";
    display: none;
    position: absolute;
}

.takenlijst__checkbox input:checked ~ .u--checkmark:after {
    display: block;
}

.takenlijst__checkbox .u--checkmark:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 3px 3px 0;
    height: 10px;
    left: 9px;
    top: 5px;
    transform: rotate(45deg);
    width: 5px;
}

.taken__add__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.taken__form {
    margin: 0 auto;
}

.taken__add__header {
    margin-bottom: 2rem;
    text-align: center;
}

.taken__form__alert {
    background-color: red;
    padding: 1rem;
}

.studiebuddySettings {
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}

.studiebuddySettingsForm {
    border: 1px solid var(--primarycolor);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px var(--secondarycolor);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: 2rem;
}

.studiebuddySettingsForm__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.studiebuddySettingsForm__radioWrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

.studiebuddySettingsForm__radio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.studiebuddySettingsForm__rangeHolder {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.studiebuddySettingsForm__field--button {
    background: linear-gradient(90deg, #c3073f 5%, #950740 100%);
    border: none;
    border-radius: 10px;
    color: var(--textcolor);
    margin-top: 1rem;
}

.studiebuddySettingsForm__radio input[type="radio"] {
    align-self: center;
}

.studiebuddySettingsForm__field {
    border-radius: 0.5rem;
    font-size: 1.6rem;
    padding: 0.75rem 0.5rem;
    width: 100%;
}

.studiebuddySettingsForm__price {
    margin-top: 1rem;
    text-align: center;
}

.iconshop {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 100%;
    text-align: center;
    width: 100%;
}

.iconshop__formWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.iconshop__button {
    background: linear-gradient(90deg, #c3073f 5%, #950740 100%);
    border: none;
    border-radius: 10px;
    border-radius: 0.5rem;
    color: var(--textcolor);
    font-size: 1.6rem;
    padding: 0.75rem 0.5rem;
    width: 100%;
}

.iconshop__button:disabled,
.iconshop__button[disabled] {
    background: linear-gradient(90deg, #7a4152 5%, #3c232d 100%);
}

.iconshop__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 50%;
}

.iconshop img {
    max-width: 100%;
}

.studiebuddySettingsForm__field--link,
.iconshop__price {
    text-align: center;
}

@media (max-width: 425px) {
    .studiebuddySettingsForm__radio img {
        width: 100%;
    }
}

@media (min-width: 425px) {
    .iconshop__form {
        max-width: 20rem;
    }
}

@media (min-width: 768px) {
    .iconshop__formWrapper {
        flex-direction: row;
        margin: 0 auto;
        margin-top: 1rem;
        width: 50%;
    }

    .iconshop__form {
        max-width: 18rem;
    }
}

@media (min-width: 500px) {
    .taken__form {
        width: 70%;
    }

    .tijdInstellingen__form {
        display: grid;
        grid-row-gap: 1rem;
    }

    .tijdInstellingen__form__section {
        display: grid;
        grid-row-gap: 0.5rem;
    }

    .tijdInstellingen__naarBed__input,
    .tijdInstellingen__uitBed__input {
        font-size: 150% !important;
        width: 100% !important;
    }
}

@media (min-width: 700px) {
    .timer {
        margin-left: -20rem;
    }

    .timer__button {
        font-size: 1.4rem !important;
    }
}

@media (min-width: 768px) {
    .tijdInstellingen__naarBed__input,
    .tijdInstellingen__uitBed__input,
    .tijdInstellingen__form__section__select,
    .tijdInstellingen__naarBed__input {
        width: 50% !important;
    }

    .button__actions__primary--tijdInstellingen {
        grid-column: 1 / 12;
        width: 50% !important;
    }

    .tijdInstellingen__actions {
        display: grid;
        grid-column: 1 / span 12;
    }

    .button__actions__ghost--tijdInstellingen {
        grid-column: 1 / 12;
        height: 5.5rem;
        width: 50% !important;
    }

    .taken__form {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .button__actions__ghost--tijdInstellingen,
    .button__actions__primary--tijdInstellingen {
        grid-column: 1 / 12;
        width: 50% !important;
    }

    .timer {
        margin-left: -30rem;
    }

    .content__nummers {
        margin-left: -10rem;
    }

    .timer__form-field,
    .timer__form-submitBtn,
    .timer__buttonsSection {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .taken__form {
        width: 40%;
    }

    .content__nummers {
        margin-left: -20rem;
    }
}

@media (min-width: 1100px) {
    .timer {
        margin-left: -35rem;
    }

    .button__actions__ghost--tijdInstellingen,
    .button__actions__primary--tijdInstellingen {
        grid-column: 1 / 12;
        width: 30% !important;
    }

    .tijdInstellingen__naarBed__input,
    .tijdInstellingen__uitBed__input,
    .tijdInstellingen__form__section__select {
        width: 30% !important;
    }

    .timer__button {
        font-size: 1.6rem !important;
    }

    .timer__form-alert > p {
        font-size: 2rem;
    }

    .timer__form-field,
    .timer__form-submitBtn,
    .timer__buttonsSection {
        width: 30%;
    }
}

@media (min-width: 1440px) {
    .taken__form {
        width: 25%;
    }

    .timer {
        margin-left: -45rem;
    }
}

.tijdInstellingen {
    margin-top: 5rem;
}

.tijdInstellingen__form {
    margin-top: 4rem;
}

select {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: var(--primarycolor);
    background-image: none;
    border: 0 !important;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    flex: 1;
    outline: 0;
    padding: 0 0.5em;
}

select::-ms-expand {
    display: none;
}

.tijdInstellingen__form__section__select,
.tijdInstellingen__form__section__select {
    background: var(--secondarycolor);
    border-radius: 0.25em;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    width: 100%;
}

.tijdInstellingen__form__section__select::after {
    -o-transition: 0.25s all ease;
    -webkit-transition: 0.25s all ease;
    background: var(--secondarycolor);
    content: "\25BC";
    cursor: pointer;
    padding: 0 1em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.25s all ease;
}

.tijdInstellingen__form__section__select:hover::after {
    color: #f39c12;
}

.tijdInstellingen__section,
.tijdInstellingen__buzzer {
    margin-top: 3rem;
}
