* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    padding: 4rem;
    background: #222831;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas:
        "menu content content "
        "menu content content"
        "player player player";
}

.menu {
    grid-area: menu;
    border: 1px solid green;
}

.content {
    grid-area: content;
}
.muziekSpeler {
    grid-area: player;
}

.content--button__actions__primary {
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #950740;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color 0.6s ease;
    overflow: hidden;
    border: 1px solid #950740;
}
.content--button__actions__primary:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(white, 0.1);
    border-radius: 100%;
    transition: width 0.3s ease, height 0.3s ease;
}
.content--button__actions__primary :focus,
.content--button__actions__primary :hover {
    cursor: pointer;
    background: darken(#4e4e50, 7%);
}
.content--button__actions__primary :active,
.content--button__actions__primary :after {
    width: 200px;
    height: 200px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 20rem;
    border: 0;
    border-bottom: 2px solid #4e4e50;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-size: 100%;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    /* position: absolute; */
    /* top: 0; */
    display: block;
    transition: 0.2s;
    font-size: 2rem;
    color: #fff;
    margin-top: 2rem;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #c3073f, #950740);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #950740;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.content--tijdInstellingen__actions {
    margin-top: 5rem;
}

.content--button__actions__ghost {
    display: inline-block;
    width: 150px;
    padding: 15px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.content--button__actions__ghost:hover,
.content--button__actions__ghost:active {
    background-color: #fff;
    color: #000;
}

/* Taken CSS */
.add__header {
    color: #fff;
}
